body {
  background-color: #2d4f4f;
  
  margin: 0;
  padding: 0;
  color: #000;
}

.title {
  background-color: #3a2020;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 40px auto;
  width: fit-content;
  border-radius: 5px;
}

.container {
  border: 5px solid red;
  background-color: black;
  padding: 30px;
  margin: 0px auto;
  width: 40%;
}

.box {
  background-color: #3ee0be;
  margin: 20px;
  padding: 20px;
}

.box p {
  margin: 5px 0;
  font-size: 16px;
  color: darkgreen;
}
